{
  "cookiesFile": "ptest_data/cookies.txt",
  "diskCacheEnabled": false,
  "autoLoadImages": true,
  "offlineStoragePath": "ptest_data",
  "localToRemoteUrlAccessEnabled": true,
  "webSecurityEnabled": false,
  "ignoreSslErrors": true,
  "sslProtocol": "any",
  "maxDiskCacheSize": 0,
  "outputEncoding": "utf8",
  "remoteDebuggerPort": 9000
}